---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.3/game/by-summoner/38049106/recent?api_key=f7e80d6f-340b-450a-b2aa-12ba2e8e6da8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"summonerId":38049106,"games":[{"gameId":2058246032,"invalid":false,"gameMode":"CLASSIC","gameType":"CUSTOM_GAME","subType":"NONE","mapId":11,"teamId":200,"championId":236,"spell1":7,"spell2":4,"level":30,"ipEarned":46,"createDate":1451975763925,"fellowPlayers":[{"summonerId":39075481,"teamId":200,"championId":245},{"summonerId":23472148,"teamId":100,"championId":4},{"summonerId":38060496,"teamId":200,"championId":48},{"summonerId":32935590,"teamId":100,"championId":21},{"summonerId":37766110,"teamId":200,"championId":25},{"summonerId":22004927,"teamId":100,"championId":64},{"summonerId":38268599,"teamId":100,"championId":120},{"summonerId":605807,"teamId":100,"championId":40},{"summonerId":38833769,"teamId":200,"championId":238}],"stats":{"level":18,"goldEarned":21326,"numDeaths":6,"turretsKilled":3,"minionsKilled":285,"championsKilled":18,"goldSpent":19675,"totalDamageDealt":322175,"totalDamageTaken":27964,"doubleKills":4,"tripleKills":1,"killingSprees":5,"largestKillingSpree":6,"team":200,"win":false,"neutralMinionsKilled":26,"largestMultiKill":3,"physicalDamageDealtPlayer":302341,"magicDamageDealtPlayer":19573,"physicalDamageTaken":18587,"magicDamageTaken":8501,"largestCriticalStrike":1065,"timePlayed":2696,"totalHeal":5806,"totalUnitsHealed":4,"assists":10,"item0":3072,"item1":3094,"item2":3031,"item3":3508,"item4":1300,"item5":3036,"item6":3363,"magicDamageDealtToChampions":6483,"physicalDamageDealtToChampions":42141,"totalDamageDealtToChampions":48812,"trueDamageDealtPlayer":260,"trueDamageDealtToChampions":188,"trueDamageTaken":875,"wardKilled":5,"wardPlaced":22,"neutralMinionsKilledEnemyJungle":10,"neutralMinionsKilledYourJungle":16,"totalTimeCrowdControlDealt":126,"playerRole":3,"playerPosition":4,"visionWardsBought":5}},{"gameId":2058474674,"invalid":false,"gameMode":"CLASSIC","gameType":"CUSTOM_GAME","subType":"NONE","mapId":11,"teamId":200,"championId":119,"spell1":7,"spell2":4,"level":30,"ipEarned":159,"createDate":1451972056058,"fellowPlayers":[{"summonerId":39075481,"teamId":100,"championId":61},{"summonerId":23472148,"teamId":200,"championId":117},{"summonerId":38060496,"teamId":100,"championId":36},{"summonerId":32935590,"teamId":100,"championId":21},{"summonerId":37766110,"teamId":200,"championId":2[...]
