<div class ="navbar navbar-default">
	<div class="container">
		<div class="navbar-brand">
			ELO HELL
		</div>
		<div class="navbar-right">
			<%= link_to 'Rankings', root_path, class: "navbar-brand" %>
			<%= link_to 'Match History', match_index_path, class: "navbar-brand" %>
			<%= link_to 'Matchmaking', new_matchmaking_path, class: "navbar-brand" %>
		</div>
	</div>
</div>
